.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}

.container>div {
    width: 400px;
    height: 600px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}